*.pyc
*~
.cproject
.project
.pydevproject
.repo
.settings
/out/
/packager/base/
/packager/build/
/packager/docs/
/packager/ipc/
/packager/net/
/packager/testing/
/packager/third_party/curl/source/
/packager/third_party/gflags/
/packager/third_party/gold/
/packager/third_party/icu/
/packager/third_party/libevent/
/packager/third_party/libxml/
/packager/third_party/llvm-build/
/packager/third_party/modp_b64/
/packager/third_party/openssl/
/packager/third_party/protobuf/
/packager/third_party/zlib/
/packager/tools/clang/
/packager/tools/gyp/
/packager/tools/protoc_wrapper/
/packager/tools/valgrind/
