[submodule "base"]
	path = base
	url = https://chromium.googlesource.com/chromium/src/base.git
[submodule "build"]
	path = build
	url = https://chromium.googlesource.com/chromium/src/build.git
	ignore = untracked
[submodule "testing/gmock"]
	path = testing/gmock
	url = https://chromium.googlesource.com/external/googlemock.git
[submodule "testing/gtest"]
	path = testing/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "third_party/gold"]
	path = third_party/gold
	url = https://chromium.googlesource.com/chromium/deps/gold.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu46.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://chromium.googlesource.com/chromium/deps/openssl.git
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "tools/valgrind"]
	path = tools/valgrind
	url = https://chromium.googlesource.com/chromium/src/tools/valgrind.git
