[submodule "packager/third_party/googletest/source"]
	path = packager/third_party/googletest/source
	url = https://github.com/google/googletest
[submodule "packager/third_party/abseil-cpp/source"]
	path = packager/third_party/abseil-cpp/source
	url = https://github.com/abseil/abseil-cpp
[submodule "packager/third_party/curl/source"]
	path = packager/third_party/curl/source
	url = https://github.com/curl/curl
[submodule "packager/third_party/json/source"]
	path = packager/third_party/json/source
	url = https://github.com/nlohmann/json
[submodule "packager/third_party/mbedtls/source"]
	path = packager/third_party/mbedtls/source
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "packager/third_party/zlib/source"]
	path = packager/third_party/zlib/source
	url = https://github.com/joeyparrish/zlib
[submodule "packager/third_party/libpng/source"]
	path = packager/third_party/libpng/source
	url = https://github.com/glennrp/libpng
[submodule "packager/third_party/libwebm/source"]
	path = packager/third_party/libwebm/source
	url = https://github.com/webmproject/libwebm
[submodule "packager/third_party/libxml2/source"]
	path = packager/third_party/libxml2/source
	url = https://github.com/GNOME/libxml2
[submodule "packager/third_party/protobuf/source"]
	path = packager/third_party/protobuf/source
	url = https://github.com/protocolbuffers/protobuf
[submodule "packager/third_party/mongoose/source"]
	path = packager/third_party/mongoose/source
	url = https://github.com/cesanta/mongoose
[submodule "packager/third_party/c-ares/source"]
	path = packager/third_party/c-ares/source
	url = https://github.com/c-ares/c-ares
