*.pyc
.cproject
.project
.pydevproject
.repo
.settings
out/*
/third_party/gold/
# Ignore llvm-build. This is only when you are using clang. Address Sanitizer
# requires clang.
/third_party/llvm-build/
