/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.plot-container {
  width: 1240px;
  height: 720px;
  margin: 30px auto 30px auto;
}